<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio administrador- SinisterApp</title>
</head>

<body>
    <header>
        <h1>INICIO - ADMINISTRADOR</h1>
        <h2>SinisterApp</h2>
    </header>
    <main>
        <p>Bienvenido a SinisterApp, la mejor aplicación web para gestionar siniestros de manera eficiente.</p>
        <h3>Menú</h3>
        <nav>
            <ul>
                <li><a href="#">GESTIONAR SINIESTROS</a></li>
                <li><a href="#">GESTIONAR SOLUCIONES</a></li>
                <li><a href="#">GESTIONAR TAREAS</a></li>
                <li><a href="#">GESTIONAR USUARIOS</a></li>
                <li><a href="#">GESTIONAR VEHICULOS</a></li>
            </ul>
        </nav>
    </main>
    <hr>
    <footer>
        <ul>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <span>Illesoft © Derechos reservados.</span>
    </footer>
</body>

</html>