<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar usuarios - SinisterApp</title>
</head>

<body>
    <header>
        <h1>GESTIONAR USUARIOS</h1>
        <h2>SinisterApp</h2>
    </header>
    <main>
        <h3>Menú</h3>
        <nav>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">SINIESTROS</a></li>
                <li><a href="#">SOLUCIONES</a></li>
                <li><a href="#">TAREAS</a></li>
                <li><a href="#">USUARIOS</a></li>
                <li><a href="#">VEHICULOS</a></li>
            </ul>
        </nav>
        <p>Selecciona una opción:</p>
        <nav>
            <ul>
                <li><a href="#">Agregar usuario.</a></li>
                <li><a href="#">Lista de usuarios</a></li>
                <li><a href="#">Ver solicitudes de acceso.</a></li>
            </ul>
        </nav>
    </main>
    <hr>
    <footer>
        <ul>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <span>Illesoft © Derechos reservados.</span>
    </footer>
</body>

</html>