<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario - SinisterApp</title>
</head>

<body>
    <header>
        <h1>REGISTRO DE USUARIO</h1>
        <h2>SinisterApp</h2>
    </header>
    <main>
        <p>Para registrarte debes llenar el siguiente formulario con tus datos.</p>
        <form action="#" method="post">
            <section id="sectionName">
                <label for="inputName">Nombre</label>
                <input type="text" name="name" id="inputName">
                <span id="spanName">Notificaciones sobre el nombre.</span>
            </section>

            <section id="sectionBirthdate">
                <label for="inputBirthdate">Fecha de nacimiento</label>
                <input type="date" name="birthdate" id="inputBirthdate">
                <span id="spanBirthdate">Notificaciones sobre la fecha de nacimiento.</span>
            </section>

            <section id="sectionEmail">
                <label for="inputEmail">Correo electrónico</label>
                <input type="email" name="email" id="inputEmail">
                <span id="spanEmail">Notificaciones sobre el correo.</span>
            </section>

            <section id="sectionPassword">
                <label for="inputPassword">Contraseña</label>
                <input type="password" name="password" id="inputPassword">
                <span id="spanPassword">Notificaciones sobre la contraseña.</span>
            </section>

            <section id="sectionPasswordVerify">
                <label for="inputPasswordVerify">Verificación de contraseña</label>
                <input type="password" name="passwordVerify" id="inputPasswordVerify">
                <span id="spanPasswordVerify">Notificaciones sobre la verificación de contraseña.</span>
            </section>

            <input type="submit" value="REGISTRARME">
        </form>
        <h3>Opciones</h3>
        <ul>
            <li><a href="#">Iniciar sesión</a></li>
            <li><a href="#">Volver a inicio</a></li>
        </ul>
    </main>
    <hr>
    <footer>
        <ul>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <span>Illesoft © Derechos reservados.</span>
    </footer>
</body>

</html>