<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión - SinisterApp</title>
</head>

<body>
    <header>
        <h1>INICIAR SESION</h1>
        <h2>SinisterApp</h2>
    </header>
    <main>
        <p>Para iniciar sesión rellena el siguiente formulario con tus credenciales.</p>
        <form action="#" method="post">
            <section id="sectionEmail">
                <label for="inputEmail">Correo electrónico</label>
                <input type="email" name="email" id="inputEmail">
                <span id="spanEmail">Notificaciones sobre el correo.</span>
            </section>
            <section id="sectionPassword">
                <label for="inputPassword">Contraseña</label>
                <input type="password" name="password" id="inputPassword">
                <span id="spanPassword">Notificaciones sobre la contraseña.</span>
            </section>
            <section id="sectionRememberMe">
                <input type="checkbox" name="rememberMe" id="inputRememberMe">
                <label for="inputRememberMe">Recordar mi sesión en éste equipo.</label>
            </section>
            <input type="submit" value="INICIAR SESION">
        </form>
        <h3>Opciones</h3>
        <ul>
            <li><a href="#">Registrar usuario</a></li>
            <li><a href="#">Volver a inicio</a></li>
        </ul>
    </main>
    <hr>
    <footer>
        <ul>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <span>Illesoft © Derechos reservados.</span>
    </footer>
</body>

</html>